.background {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #ffffff 50%, #ffd700 50%);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Arial", sans-serif;
  }


.container {
    text-align: center;
    margin: 50px auto;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    color: #333;
    min-height: 40vh;
    animation: fadeIn 0.5s ease-in-out;

    h1 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #222;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}


@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.inputField {
    margin-bottom: 20px;
    width: 480px;

    label {
        display: block;
        text-align: left;
        margin-bottom: 8px;
        font-weight: bold;
        color: #444;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    }

    input {
        padding: 12px;
        width: 100%;
        border: 2px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        transform: border-color 0.3s ease, box-shadow 0.3s ease;

        &:focus {
            outline: none;
            border-color: #ffd700;
            box-shadow: 0 0 5px rgba(255, 215, 0, 0.6);
        }
    }
}


.submitButton {
    padding: 12px 25px;
    background-color: #ffd700;
    color: #222;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #e6c300;
        transform: translate(-2px);
    }

    &:active {
        transform: translate(0);
    }
}
